src\**\bin
src\**\obj
_ReSharper.*
*.user
*.suo
vsdebug
debug
test_results
TestResult.xml
deploy
src/lib/KellermanSoftware.Compare-NET-Objects.dll
src/lib/Moq.dll
src/lib/Ploeh.AutoFixture.dll
src/lib/nunit.framework.dll
nugetworking
src/packages/
src/Snarfz.Samples/packages/